.post {
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.post-info {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.post div {
    margin-bottom: 10px;
}